#bottombar {
    align-items: center;
    display: flex;
    position: fixed;
    flex-shrink: 3;
    bottom: 0;
    z-index: 10000;
    background-color: white;
}
p {
    font-size:x-small;
}
.icons{
    color: #606060 ;
}
.bt-item{
    cursor: pointer;
}
.selected{
    color: red;
}
@media screen and (min-width: 681px) {
    #bottombar{
     display: none;
   }
 }
 @media screen and (max-width: 376px) {
    .bt-item {
        width: 75px;
    }
  }
  @media screen and (max-width: 320px) {
    .bt-item {
        width: 65px;
    }
  }
  @media screen and (max-width: 280px) {
    .bt-item {
        width: 58px;
    }
}
  @media screen and (min-width: 385px) {
    .bt-item {
        width: 85px;
    }
  }